div {
    display: inline-block;
}

.s1 {
    display: inline-block;
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 119px;
    font-size: 28px;
    padding: 20px;
    max-width: 100%
}

.s2 {
    display: inline-block;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white;
    scroll-margin-top: 119px;
    font-size: 28px;
    padding: 20px;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.active {
    background-color: darkblue;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    font-size: 28px;
    padding: 8px;
}

li a:hover {
    color: white;
    background-color: #182b49;
  }

.navbar {
    position: sticky;
    top: 0px;
    overflow: hidden;
  }

.grid-container {
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.grid-item {
    background-color: #182b49;
    max-height: 500px;
    grid-column-start: 1;
    grid-column-end: 3;  
    overflow: scroll;
    color: white
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;  
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
  
}
.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
  
}
.item4 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.logo {
    max-width: 100%;
}

#ucsd-logo {
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .anchor{
        display: none;
    }
    #ucsd-logo {
        max-width: 75%;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }

    .grid-container {
        display: grid;
        column-gap: 25px;
        row-gap: 25px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
    }

    .item1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .item2 {
        grid-area: 1 / 2 / 2 / 3;     
    }
    .item3 {
        grid-area: 2 / 1 / 3 / 2;
      
    }
    .item4 {
        grid-area: 2 / 2 / 3 / 3;
    }
  }